@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --breakpoint-lg: 80rem; /* Change the lg breakpoint to 1280px */
  --breakpoint-md: 60rem; /* Change the md breakpoint to 960px */
  --breakpoint-sm: 45rem; /* Change the md breakpoint to 720px */
  --breakpoint-xs: 25rem; /* Change the md breakpoint to 400px */
}

@theme {
  --color-gray-50: #E7E7E7;
  --color-gray-100: #DFDFDF;
  --color-gray-200: #CFCFCF;
  --color-gray-250: #C4C4C4;
  --color-gray-300: #9B9B9B;
  --color-gray-400: #878787;
  --color-gray-450: #858585;
  --color-gray-500: #737373;
  --color-gray-600: #6C6C6C;
  --color-gray-700: #626262;
  --color-gray-800: #555555;
  --color-gray-900: #484848;
  --color-gray-950: #3D3D3D;
  --color-gray-975: #343434;
}

@theme {
  --radius-lg: 10px;
}

.custom-transition {
  @apply  duration-100 ease-in-out;
  transition-property: box-shadow;
  transition-duration: 50ms, 100ms;
  transition-timing-function: ease-in-out, ease-in-out;
}

.section-title {
  @apply md:text-6xl sm:text-4xl text-2xl font-semibold;
}

.responsive-image-height{
  @apply relative bg-cover bg-center bg-no-repeat lg:min-h-[1160px] md:min-h-[600px] sm:min-h-[400px] min-h-[300px];
}