@import "tailwindcss";

@theme {
  --breakpoint-lg: 80rem; /* Change the lg breakpoint to 1280px */
  --breakpoint-md: 60rem; /* Change the lg breakpoint to 1280px */
}

@theme {
  --color-grayCustom: #858585; 
}

.custom-transition {
  @apply  duration-100 ease-in-out;
  transition-property: box-shadow;
  transition-duration: 50ms, 100ms;
  transition-timing-function: ease-in-out, ease-in-out;
}
